.form {
        width: 70rem;
        display: flex;
        flex-direction: column;
        margin: 5rem auto;
        padding: 4rem;
        background-color: var(--grey-light);
        position: relative;
        box-shadow: var(--box-shadow);
        &-title {
            font-weight: 200;
            text-align: center;
        }
        &-group {
            display: flex;
            flex-direction: column;
            margin: 2rem;
            & label {
                margin-bottom: 1rem;
                font-weight: 400;
            }
            & input, textarea {
                padding: 1rem;
                outline: 0;
                border: 1px solid var(--secondary);
                background-color: var(--primary);
            }
            & textarea {
                min-height: 20rem;
            }
        }
        &-btn-container {
            display: flex;
            height: 5rem;
            justify-content: flex-end;
            align-items: center;
            margin: 2rem;
            & .btn:first-child {
                margin-right: 2rem;
            }
        }
    }
