:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-weight: 200;
    color: var(--dark);
    font-family: var(--font-family);
}

h1,
h2,
h3,
h4 {
    margin-bottom: 2rem;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.5rem;
}

h4 {
    font-size: 2rem;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

a {
    color: var(--text);
    text-decoration: none;
}

.container {
  min-height: 100vh;
  display: grid;
  grid:
    "header" auto
    "main" 1fr
    "footer" auto /
    auto;
}
.btn {
    border: 0;
    border-radius: 3px;
    padding: 1rem 2rem;
    font-weight: 200;
    cursor: pointer;
    box-shadow: var(--box-shadow);
    
    &-primary {
        color: var(--secondary);
        background-color: var(--dark);
        &:hover {
            background-color: var(--secondary);
            color: var(--dark);
        }
    }
    &-secondary {
        color: var(--dark);
        background-color: var(--secondary);
        &:hover {
            background-color: var(--dark);
            color: var(--secondary);
        }
    }
}



