.header {
    grid-area: header;
    background: var(--dark);
    color: var(--secondary);
    padding: 2rem;
    display: flex;
    flex: row nowrap;
    justify-content: space-between;
    align-items: center;
    &-brand {
        font-size: 3rem;
        text-transform: uppercase;
        font-weight: 400;
        & span {
            font-style: italic;
            letter-spacing: .3rem;
        }
    }
    &-nav {
        width: 20%;
        font-size: 2rem;
        &-list {
            display: flex;
            justify-content: space-evenly;
            &-item {
                &:hover {
                    color: var(--primary);
                }
                &.active {
                    color: var(--primary);
                    &:hover {
                        color: var(--secondary);
                    }
                }
            }
        }
    }
}