:root {
    --primary: #D9D1CC;
    --secondary: #b49781;
    --dark : #262626;
    --grey-light: #b2b2b2;
    --grey-dark:#404040;
    --font-family: 'Oswald', sans-serif;;
    --box-shadow:  0 10px 6px -6px #262626;
}